<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style>body{font-family:"微软雅黑"; font-size:22px; background:#f4f1ea}*{margin:0;padding:0;}li{background:url(images/g.png) repeat-y;border-bottom:1px dashed #c6c3bf;padding:10px 5px 10px 50px; position:relative;}.t{background:url(images/d.png)  repeat-y; margin-left:-25px;}dd{background:url(images/s.png) no-repeat; font-size:20px; padding:10px 5px 10px 50px;border-bottom:1px dashed #c6c3bf; color:#347a78}em{ background:url(images/d.png) no-repeat; width:16px; height:16px; display:block; position:absolute; left:20px; top:15px;}.hide{ display:none;}a{ text-decoration:none; color:#000;}</style>
<title>MT</title>
<script type="text/javascript">
window.onload = function() { var li = document.getElementById("list").getElementsByTagName("li"); for(var i=0; i<li.length; i++) {(function() {li[i].onclick = function() {if (navigator.userAgent.indexOf("MSIE") >0) {var dd = this.nextSibling;}else{var dd = this.nextSibling.nextSibling;}if(dd.className == "hide"){dd.className = dd.className.replace(new RegExp('\\bhide\\b\\s*', 'g'), '');}else{dd.className +="hide";}} })();}}
</script>
</head>

<body>
<ul id="list">
    <li><em></em> <a href="javascript:void(0);"  style="color:#F00">阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬</a></li>
    <dd class="hide">阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬</dd>
    <li><em></em><a href="javascript:void(0);">阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬</a></li>
    <dd  class="hide">asdfasdf</dd>
    <li><em></em><a href="javascript:void(0);">阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬</a></li>
    <dd  class="hide">asdfasdf</dd>
    <li><em></em><a href="javascript:void(0);">阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬</a></li>
    <dd  class="hide">asdfasdf</dd>
    <li><em></em><a href="javascript:void(0);">阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬</a></li>
    <dd  class="hide">asdfasdf</dd>
    <li><em></em><a href="javascript:void(0);">阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬</a></li>
    <dd  class="hide">asdfasdf</dd>
    <li><em></em><a href="javascript:void(0);">阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬</a></li>
    <dd  class="hide">asdfasdf</dd>
    <li><em></em><a href="javascript:void(0);">阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬</a></li>
    <dd  class="hide">asdfasdf</dd>
</ul>
</body>
</html>
